.livebar {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    padding: 11px 18px 9px;
    font-size: 15px;
    color: var(--color-font) !important;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    transition: 1s;
}

.livebar.active:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    background: var(--color-accent) !important;
}

.livebar.active.on:before {
    width: 100%;
    transition: 1s 0.05s;
}

.livebar.on {
    width: 100%;
}

.livebar .content {
    display: flex;
    white-space: nowrap;
    height: 0;
    opacity: 0;
    transform: translateY(-100%);
}

.livebar.on .content {
    opacity: 1;
    transform: translateY(0);
    height: auto;
    transition: 1s 0.8s;
}

.text {
    position: relative;
}

.pulses {
    position: relative;
    display: flex;
    flex: 1 0;
    align-items: center;
    margin-left: 20px;
}

.pulse {
    position: relative;
    width: 12px;
    height: 12px;
    background: red;
    border-radius: 50%;
    transform: translateX(-50%);
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 0, 0, 0);
    border: 5px solid red;
    transform: translateY(-50%) translateX(-50%);
    animation: 2s expand ease;
}

.circle.special {
    background-color: white;
}

@keyframes expand {
    0% {
        width: 0;
        height: 0;
        opacity: 0.5;
    }

    100% {
        width: 750%;
        height: 750%;
        opacity: 0;
        border-color: white;
        background-color: transparent;
        border-width: 2px;
    }
}
