openapi: 3.1.0
info:
  title: Fourthwall APIs
  version: v1.0
  description: >
    # Overview


    ## Auth: Platform OAuth


    Right now, Platform OAuth is invite only. Please [contact
    us](https://docs.google.com/forms/d/1gRFnThFU8pq8Cfp3Rwy-hYS_mbUAvelu3bnER3DI8MY)
    to get access.


    We will need to know:

    1. Your redirect URL

    2. The permissions you need for the app    


    #### Authorize url


    Link your users to this url to start the login process for your app. Always
    use my-shop.fourthwall.com as the shop url as this will link to the logged
    in user's current shop.


    ```

    https://my-shop.fourthwall.com/admin/platform-apps/<YOUR_CLIENT_ID>/connect?redirect_uri=<YOUR_URL_ENCODED_REDIRECT_URL>

    ```


    #### Getting an access token 


    After the user has authorized your app, they will be redirected to your
    redirect URL with an authorization code.

    You will need to exchange this code for an access token.


    curl example:

    ```bash

    curl -XPOST
    https://auth.fourthwall.com/auth/realms/Fourthwall/protocol/openid-connect/token
    \
      -H "Content-Type: application/x-www-form-urlencoded" \
      -d "grant_type=authorization_code&redirect_uri=<YOUR_REDIRECT_URL>&client_id=<YOUR_CLIENT_ID>&client_secret=<YOUR_CLIENT_SECRET>&code=<AUTHORIZATION_CODE>" 
    ```


    The response will contain an `access_token`, `refresh_token`, and other
    information.


    #### Using the access token 


    curl example:

    ```bash

    curl -XGET https://api.fourthwall.com/open-api/v1/order/{YOUR_ORDER_ID} \
      -H "Authorization: Bearer YOUR_ACCESS_TOKEN"
    ```


    #### Refreshing the access token 


    Access tokens expire rather quickly (within 1 hour). You can use the
    refresh_token to get a new access token without having to re-authorize the
    user.


    curl example:

    ```bash

    curl -XPOST
    https://auth.fourthwall.com/auth/realms/Fourthwall/protocol/openid-connect/token
    \
      -H "Content-Type: application/x-www-form-urlencoded" \
      -d "grant_type=refresh_token&client_id=<YOUR_CLIENT_ID>&client_secret=<YOUR_CLIENT_SECRET>&refresh_token=<YOUR_REFRESH_TOKEN>"
    ```


    ## Auth: API key


    #### Getting credentials 


    Note that the creation of API credentials is reserved for users with the
    **SUPER ADMIN** role.


    1. Navigate to [For
    developers](https://my-shop.fourthwall.com/admin/dashboard/settings/for-developers)
    to create an API user.

    2. If API credentials haven't been generated yet, you will find a "Create
    API User" button under the "Open API" section. Click on it, and shortly
    after, the Username and Password for the Open API User will be provided.
      *Keep your API credentials confidential and do not share them with unauthorized personnel. These credentials grant access to sensitive data and actions within our system. Always use HTTPS/SSL for encrypted communication when making API requests.*

    #### Authorizing with credentials


    After Open API User was created, you can authorize your request by using
    **Basic Access Authentication**.


    This can be achieved by constructing an **Authorization** header with the
    format **Basic <base64-encoded-username-and-password>**. The base64-encoded
    credentials should be passed with each request to gain access to the
    protected resources.


    curl example:

    ```bash

    curl -u "your_username:your_password"
    http://api.fourthwall.com/open-api/v1/order/{YOUR_ORDER_ID}

    ```


    Javascript example:


    ```javascript

    const username = "your_username";

    const password = "your_password";


    // Combine username and password with a colon

    const combinedCredentials = `${username}:${password}`;


    // Encode the combined credentials to Base64

    const base64Credentials = btoa(combinedCredentials);


    const apiUrl =
    "http://api.fourthwall.com/open-api/v1/order/{YOUR_ORDER_ID}";

    const requestOptions = {
      method: "GET",
      headers: {
        "Authorization": `Basic ${base64Credentials}`,
        "Content-Type": "application/json"
      }
    };


    fetch(apiUrl, requestOptions)
      .then(response => response.json()) // Parse the JSON response directly
      .then(data => {
      // Handle the API response data here
      console.log(data);
    })
      .catch(error => {
      // Handle errors
      console.error("Error:", error);
    });

    ```


    ## Rate limiting policy


    To ensure fair usage and maintain optimal system performance, we have
    implemented rate limiting for API requests. This means that each user is
    allowed a maximum of **100 requests** within a **10-second rolling window**.


    **What it means for you:**


    - You can make up to 100 requests within any 10-second period.

    - If you exceed this limit, any additional requests will be delayed until
    the 10-second window is reset.

     Please plan your API usage accordingly to avoid interruptions and ensure the smooth functioning of our services.
        
    ## Products RSS feed


    If you're just looking to read public product information, you do not need
    to use Open API. All sites publish a Merchant Center Feed under an RSS
    address:


    ```

    {$shop_url}/.well-known/merchant-center/rss.xml

    ```


    **Example:** for [https://shop.fourthwall.com](https://shop.fourthwall.com)
    the RSS feed url would be
    [https://shop.fourthwall.com/.well-known/merchant-center/rss.xml](https://shop.fourthwall.com/.well-known/merchant-center/rss.xml)
externalDocs:
  description: OpenAPI documentation
  url: https://docs.fourthwall.com
servers:
  - url: https://api.fourthwall.com
    description: Generated server url
paths:
  /open-api/v1.0/donations:
    get:
      tags:
        - Donations
      summary: Get all donations
      description: Returns all donations with pagination
      externalDocs:
        url: >-
          https://docs.fourthwall.com/open-api/#tag/Donations/operation/getDonations
      operationId: getDonations
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
          example: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
          example: 5
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.app.openapi.model.OpenApiPageResponseCom.fourthwall.openapi.model.DonationV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - donation_read
        - basicAuth: []
  /open-api/v1.0/donations/{donationId}:
    get:
      tags:
        - Donations
      summary: Get donation by id
      description: Returns donation by id
      externalDocs:
        url: >-
          https://docs.fourthwall.com/open-api/#tag/Donations/operation/getDonationById
      operationId: getDonationById
      parameters:
        - name: donationId
          in: path
          required: true
          schema:
            type: string
          example: 00aa4abd-5778-4199-8161-0b49b2f212e5
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/com.fourthwall.openapi.model.DonationV1"
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - donation_read
        - basicAuth: []
  /open-api/v1.0/gifting/draw/{id}/finish:
    put:
      tags:
        - Gifting
      summary: Finish draw
      description: Finish draw and select winners
      operationId: drawFinished
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.fourthwall.app.openapi.DrawFinishedRequest
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/com.fourthwall.openapi.model.GiftDraftV1"
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - basicAuth: []
  /open-api/v1.0/gifting/draw/{id}:
    get:
      tags:
        - Gifting
      summary: Get draw
      description: Get draw details
      operationId: getDraw
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/com.fourthwall.openapi.model.GiftDraftV1"
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - basicAuth: []
  /open-api/v1.0/giveaway-links:
    post:
      tags:
        - Giveaway links
      summary: Create giveaway links
      description: Creates a new package with specified number of giveaway links
      externalDocs:
        url: >-
          https://docs.fourthwall.com/open-api/#tag/Giveaway-links/operation/createGiveawayLinks
      operationId: createGiveawayLinks
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.fourthwall.app.openapi.CreateGiveawayLinksV1Request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.GiveawayLinksV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - basicAuth: []
  /open-api/v1.0/giveaway-links/packages:
    get:
      tags:
        - Giveaway links
      summary: Get all giveaway packages
      description: Returns all packages with giveaway links
      externalDocs:
        url: >-
          https://docs.fourthwall.com/open-api/#tag/Giveaway-links/operation/getAllGiveawayLinksPackages
      operationId: getAllGiveawayLinksPackages
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.GiveawayPackagesV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - basicAuth: []
  /open-api/v1.0/giveaway-links/packages/{packageId}:
    get:
      tags:
        - Giveaway links
      summary: Get giveaway links
      description: Returns all giveaway links for packageId
      externalDocs:
        url: >-
          https://docs.fourthwall.com/open-api/#tag/Giveaway-links/operation/getGiveawayLinksByPackageId
      operationId: getGiveawayLinksByPackageId
      parameters:
        - name: packageId
          in: path
          required: true
          schema:
            type: string
          example: 00aa4abd-5778-4199-8161-0b49b2f212e5
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.GiveawayLinksV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - basicAuth: []
  /open-api/v1.0/order:
    get:
      tags:
        - Orders
      summary: Get all orders
      description: Returns all orders with pagination
      externalDocs:
        url: https://docs.fourthwall.com/open-api/#tag/Orders/operation/getOrders
      operationId: getOrders
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
          example: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
          example: 5
        - name: createdAt[gt]
          in: query
          required: false
          schema:
            type: string
            format: date-time
          example: "2020-08-13T09:05:36.939Z"
        - name: createdAt[lt]
          in: query
          required: false
          schema:
            type: string
            format: date-time
          example: "2020-08-13T09:05:36.939Z"
        - name: updatedAt[gt]
          in: query
          required: false
          schema:
            type: string
            format: date-time
          example: "2020-08-13T09:05:36.939Z"
        - name: updatedAt[lt]
          in: query
          required: false
          schema:
            type: string
            format: date-time
          example: "2020-08-13T09:05:36.939Z"
        - name: status
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - CONFIRMED
                - PARTIALLY_IN_PRODUCTION
                - IN_PRODUCTION
                - PARTIALLY_SHIPPED
                - SHIPPED
                - PARTIALLY_DELIVERED
                - DELIVERED
                - CANCELLED
                - COMPLETED
            uniqueItems: true
          example: CONFIRMED
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.app.openapi.model.OpenApiPageResponseCom.fourthwall.openapi.model.OrderV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - order_read
        - basicAuth: []
  /open-api/v1.0/order/{orderId}:
    get:
      tags:
        - Orders
      summary: Get order by id
      description: Returns order by id
      externalDocs:
        url: >-
          https://docs.fourthwall.com/open-api/#tag/Orders/operation/getOrderByOrderId
      operationId: getOrderByOrderId
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
          example: 00aa4abd-5778-4199-8161-0b49b2f212e5
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/com.fourthwall.openapi.model.OrderV1"
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - order_read
        - basicAuth: []
  /open-api/v1.0/order/by-friendly-id/{friendlyId}:
    get:
      tags:
        - Orders
      summary: Get order by friendly id
      description: Returns order by friendly id
      operationId: getOrderByFriendlyId
      parameters:
        - name: friendlyId
          in: path
          required: true
          schema:
            type: string
          example: D3XZFWPP
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/com.fourthwall.openapi.model.OrderV1"
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - order_read
        - basicAuth: []
  /open-api/v1.0/products/{productId}/availability:
    put:
      tags:
        - Products (offers)
      summary: Update product (offer) availability by id
      description: Updates a product (offer) availability
      operationId: updateOfferAvailability
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
          example: 00aa4abd-5778-4199-8161-0b49b2f212e5
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.fourthwall.app.openapi.OpenApiProductEndpoint$UpdateOfferAvailabilityV1Request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferFullV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - offer_write
        - basicAuth: []
  /open-api/v1.0/products:
    get:
      tags:
        - Products (offers)
      summary: Get all products (offers)
      description: Returns all products with pagination
      externalDocs:
        url: >-
          https://docs.fourthwall.com/open-api/#tag/Products-(offers)/operation/getProducts
      operationId: getProducts
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
          example: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
          example: 5
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.app.openapi.model.OpenApiPageResponseCom.fourthwall.openapi.model.OfferAbstractV1$OfferFullV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - offer_read
        - basicAuth: []
  /open-api/v1.0/products/{productId}:
    get:
      tags:
        - Products (offers)
      summary: Get product (offer) by id
      description: Returns product by id
      externalDocs:
        url: >-
          https://docs.fourthwall.com/open-api/#tag/Products-(offers)/operation/getProductByProductId
      operationId: getProductByProductId
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
          example: 00aa4abd-5778-4199-8161-0b49b2f212e5
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferFullV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - offer_read
        - basicAuth: []
  /open-api/v1.0/shops/current:
    get:
      tags:
        - Shop
      summary: Get current shop
      description: Returns the current shop
      operationId: getCurrentShop
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/com.fourthwall.openapi.model.ShopV1"
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth: []
        - basicAuth: []
  /open-api/v1.0/shops/current/contact-info:
    get:
      tags:
        - Shop
      summary: Get current shop contact info
      description: Returns the current shop contact info
      operationId: getCurrentShopContactInfo
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.ContactInfoV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth: []
        - basicAuth: []
  /open-api/v1.0/streaming/start:
    put:
      tags:
        - Streaming
      summary: Set streaming status to started
      description: Sets streaming status to started for specified services
      operationId: streamingStarted
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.fourthwall.app.openapi.StreamingStartedRequest
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.StreamingStatusV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - basicAuth: []
  /open-api/v1.0/streaming/end:
    put:
      tags:
        - Streaming
      summary: Set streaming status to ended
      description: Sets streaming status to ended for specified services
      operationId: streamingEnded
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.fourthwall.app.openapi.StreamingEndedRequest
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.StreamingStatusV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - basicAuth: []
  /open-api/v1.0/streaming:
    get:
      tags:
        - Streaming
      summary: Get streaming status
      description: Returns streaming status for all services
      operationId: streamingStatus
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.StreamingStatusV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - basicAuth: []
  /open-api/v1.0/thank-yous/{thankYouId}:
    get:
      tags:
        - Thank yous
      summary: Get Thank You by id
      description: Get Thank You details
      externalDocs:
        url: >-
          https://docs.fourthwall.com/open-api/#tag/Thank-yous/operation/getGiftPurchaseById
      operationId: getGiftPurchaseById
      parameters:
        - name: thankYouId
          in: path
          required: true
          schema:
            type: string
          example: ty_EdJvIXu3SEiXe_QkPavHSA
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/com.fourthwall.openapi.model.ThankYouV1"
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - thankyou_read
        - basicAuth: []
  /open-api/v1.0/gift-purchase/{giftPurchaseId}:
    get:
      tags:
        - Twitch gift purchases
      summary: Get gift purchase by id
      description: Returns gift purchase details by id
      externalDocs:
        url: >-
          https://docs.fourthwall.com/open-api/#tag/Twitch-gift-purchases/operation/getGiftPurchaseById
      operationId: getGiftPurchaseById_1
      parameters:
        - name: giftPurchaseId
          in: path
          required: true
          schema:
            type: string
          example: giv_EdJvIXu3SEiXe_QkPavHSA
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.GiftPurchaseV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - basicAuth: []
  /open-api/v1.0/fulfillments:
    post:
      tags:
        - "BETA: Fulfillment"
      summary: Create a fulfillment for an order
      description: >-
        Creates a fulfillment with a shipment tracker for provided order items.
        When trackers change their state, order.status will change to
        IN_PRODUCTION, PARTIALLY_IN_PRODUCTION, PARTIALLY_SHIPPED, SHIPPED
        depending on the shipping tracker info. Order updated webhooks will be
        triggered.
      externalDocs:
        url: >-
          https://docs.fourthwall.com/open-api/#tag/Fulfillment/operation/createFulfillment
      operationId: createFulfillment
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.fourthwall.app.openapi.FulfillmentRequest
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.app.openapi.FulfillmentResponse
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - fulfillment_write
        - basicAuth: []
  /open-api/v1.0/fulfillments/{fulfillmentId}/shipping-labels:
    post:
      tags:
        - "BETA: Fulfillment"
      summary: Add shipping label to fulfillment
      description: >-
        Takes fulfillment_id, carrier name, tracking number and adds new
        shipping label to fulfillment. Optionally you can provide shipping
        method, tracker url and list items contained in particular shipping
        label.
      operationId: saveFulfillmentShippingLabel
      parameters:
        - name: fulfillmentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.fourthwall.fulfillment.model.FulfillmentShippingLabel
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.fulfillment.model.Fulfillment
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - fulfillment_write
        - basicAuth: []
  /open-api/v1.0/fulfillments/find-by-friendly-id-and-fulfillment-service:
    post:
      tags:
        - "BETA: Fulfillment"
      summary: Find fulfillments ids by friendly ids and fulfillment service
      description: Find fulfillments ids by friendly ids and fulfillment service
      operationId: findFulfillmentIdsByFriendlyIdAndFulfillmentService
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.fourthwall.app.openapi.OpenApiFulfillmentEndpoint$FindFulfillmentIdsByFriendlyIdAndFulfillmentServiceRequest
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: >-
                    #/components/schemas/com.fourthwall.app.fulfillment.adapter.FulfillmentByFriendlyIdResult
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - fulfillment_write
        - basicAuth: []
  /open-api/v1.0/fulfillments/bulk/shipping-labels:
    post:
      tags:
        - "BETA: Fulfillment"
      summary: Bulk add shipping label to fulfillment
      description: >-
        Takes a list of fulfillment_id, carrier name, tracking number and adds
        new shipping label to fulfillment. Similar to
        saveFulfillmentShippingLabel but in bulk.
      operationId: bulkSaveFulfillmentsShippingLabels
      parameters:
        - name: request
          in: query
          required: true
          schema:
            $ref: >-
              #/components/schemas/com.fourthwall.app.openapi.OpenApiFulfillmentEndpoint$BulkSaveFulfillmentsShippingLabelsRequest
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.app.openapi.OpenApiFulfillmentEndpoint$BulkSaveFulfillmentsShippingLabelsResponse
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - fulfillment_write
        - basicAuth: []
  /open-api/v1.0/promotions:
    get:
      tags:
        - "BETA: Promotions"
      summary: Get all promotions
      description: Returns all promotions
      operationId: getPromotions
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
          example: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 20
          example: 5
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.app.openapi.model.OpenApiPageResponseCom.fourthwall.openapi.model.promotions.PromotionV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - promotions_read
        - basicAuth: []
    post:
      tags:
        - "BETA: Promotions"
      summary: Create a promotion
      description: Creates a promotion
      operationId: createPromotion
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest$Memberships
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest$Memberships$Multi
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest$Memberships$Single
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest$Shop
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest$Shop$Multi
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest$Shop$Single
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: >-
                      #/components/schemas/com.fourthwall.openapi.model.promotions.AutoApplyingShopPromotionV1
                  - $ref: >-
                      #/components/schemas/com.fourthwall.openapi.model.promotions.MultiMembershipsPromotionV1
                  - $ref: >-
                      #/components/schemas/com.fourthwall.openapi.model.promotions.MultiShopPromotionV1
                  - $ref: >-
                      #/components/schemas/com.fourthwall.openapi.model.promotions.SingleMembershipsPromotionV1
                  - $ref: >-
                      #/components/schemas/com.fourthwall.openapi.model.promotions.SingleShopPromotionV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - promotions_write
        - basicAuth: []
  /open-api/v1.0/webhooks/{webhookConfigurationId}:
    get:
      tags:
        - "BETA: Webhooks"
      summary: Get a webhook
      description: Get a webhook
      operationId: getWebhookConfiguration
      parameters:
        - name: webhookConfigurationId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.WebhookConfigurationV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
    put:
      tags:
        - "BETA: Webhooks"
      summary: Update a webhook
      description: Update a webhook
      operationId: updateWebhookConfiguration
      parameters:
        - name: webhookConfigurationId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.fourthwall.app.openapi.OpenApiWebhookConfigurationEndpoint$WebhookConfigurationUpdateRequest
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.WebhookConfigurationV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - webhook_write
        - basicAuth: []
    delete:
      tags:
        - "BETA: Webhooks"
      summary: Delete a webhook
      description: Delete a webhook
      operationId: deleteWebhookConfiguration
      parameters:
        - name: webhookConfigurationId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - webhook_write
        - basicAuth: []
  /open-api/v1.0/webhooks:
    get:
      tags:
        - "BETA: Webhooks"
      summary: Get webhooks
      description: Get webhooks
      operationId: getWebhookConfigurations
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.app.openapi.model.OpenApiPageResponseCom.fourthwall.openapi.model.WebhookConfigurationV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - webhook_read
        - basicAuth: []
    post:
      tags:
        - "BETA: Webhooks"
      summary: Create a webhook
      description: Create a webhook
      operationId: createWebhookConfiguration
      requestBody:
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/com.fourthwall.app.openapi.OpenApiWebhookConfigurationEndpoint$WebhookConfigurationCreateRequest
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.WebhookConfigurationV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
      security:
        - oauth:
            - webhook_write
        - basicAuth: []
  /open-api/v1.0/webhooks-secret:
    get:
      tags:
        - "BETA: Webhooks"
      summary: Get webhook secret
      description: Get webhook secret
      operationId: getWebhookSecret
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.WebhookSecretV1
        "400":
          description: Bad Request
          content:
            "*/*":
              schema: {}
components:
  schemas:
    com.fourthwall.app.openapi.OpenApiWebhookConfigurationEndpoint$WebhookConfigurationUpdateRequest:
      type: object
      properties:
        url:
          type: string
        allowedTypes:
          type: array
          items:
            type: string
            enum:
              - ORDER_PLACED
              - ORDER_UPDATED
              - GIFT_PURCHASE
              - PRODUCT_CREATED
              - PRODUCT_UPDATED
              - DONATION
              - SUBSCRIPTION_PURCHASED
              - SUBSCRIPTION_EXPIRED
              - SUBSCRIPTION_CHANGED
              - NEWSLETTER_SUBSCRIBED
              - THANK_YOU_SENT
              - GIFT_DRAW_STARTED
              - GIFT_DRAW_ENDED
              - PROMOTION_CREATED
              - PROMOTION_UPDATED
              - PROMOTION_STATUS_CHANGED
      required:
        - allowedTypes
        - url
    com.fourthwall.openapi.model.WebhookConfigurationV1:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
        allowedTypes:
          type: array
          items:
            type: string
            enum:
              - ORDER_PLACED
              - ORDER_UPDATED
              - GIFT_PURCHASE
              - PRODUCT_CREATED
              - PRODUCT_UPDATED
              - DONATION
              - SUBSCRIPTION_PURCHASED
              - SUBSCRIPTION_EXPIRED
              - SUBSCRIPTION_CHANGED
              - NEWSLETTER_SUBSCRIBED
              - THANK_YOU_SENT
              - GIFT_DRAW_STARTED
              - GIFT_DRAW_ENDED
              - PROMOTION_CREATED
              - PROMOTION_UPDATED
              - PROMOTION_STATUS_CHANGED
        apiVersion:
          type: string
          enum:
            - V1
      required:
        - allowedTypes
        - apiVersion
        - id
        - url
    com.fourthwall.app.openapi.StreamingStartedRequest:
      type: object
      properties:
        services:
          type: array
          items:
            oneOf:
              - $ref: >-
                  #/components/schemas/com.fourthwall.app.openapi.StreamingStartedRequest$Service$Twitch
      required:
        - services
    com.fourthwall.app.openapi.StreamingStartedRequest$Service:
      type: object
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
      required:
        - type
    com.fourthwall.app.openapi.StreamingStartedRequest$Service$Twitch:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.app.openapi.StreamingStartedRequest$Service
        - type: object
          properties:
            broadcasterId:
              type: string
            broadcasterLogin:
              type: string
            thumbnailUrl:
              type: string
      required:
        - broadcasterId
        - broadcasterLogin
    com.fourthwall.openapi.model.StreamingStatusV1:
      type: object
      properties:
        shopId:
          type: string
        services:
          type: array
          items:
            oneOf:
              - $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.StreamingStatusV1$Service$Twitch
      required:
        - services
        - shopId
    com.fourthwall.openapi.model.StreamingStatusV1$Service:
      type: object
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
      required:
        - type
    com.fourthwall.openapi.model.StreamingStatusV1$Service$Twitch:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.StreamingStatusV1$Service
        - type: object
          properties:
            status:
              type: string
              enum:
                - ONLINE
                - OFFLINE
            broadcasterId:
              type: string
            broadcasterLogin:
              type: string
            thumbnailUrl:
              type: string
      required:
        - status
    com.fourthwall.app.openapi.StreamingEndedRequest:
      type: object
      properties:
        services:
          type: array
          items:
            type: string
            enum:
              - TWITCH
      required:
        - services
    com.fourthwall.app.openapi.OpenApiProductEndpoint$UpdateOfferAvailabilityV1Request:
      type: object
      properties:
        available:
          type: boolean
      required:
        - available
    Money:
      type: object
      properties:
        value:
          type: number
          example: 10
          minimum: 0
        currency:
          type: string
          example: USD
      required:
        - currency
        - value
    com.fourthwall.openapi.model.Image:
      type: object
      properties:
        id:
          type: string
          example: 00aa4abd-5778-4199-8161-0b49b2f212e5
        url:
          type: string
          example: https://fourthwall.com/image.png
        width:
          type: integer
          format: int32
          example: 800
        height:
          type: integer
          format: int32
          example: 600
      required:
        - height
        - id
        - url
        - width
    com.fourthwall.openapi.model.OfferAbstractV1$OfferAccessV1:
      type: object
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
      required:
        - type
    com.fourthwall.openapi.model.OfferAbstractV1$OfferAccessV1$Archived:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferAccessV1
    com.fourthwall.openapi.model.OfferAbstractV1$OfferAccessV1$Hidden:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferAccessV1
    com.fourthwall.openapi.model.OfferAbstractV1$OfferAccessV1$Public:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferAccessV1
    com.fourthwall.openapi.model.OfferAbstractV1$OfferFullV1:
      type: object
      properties:
        id:
          type: string
          example: 00aa4abd-5778-4199-8161-0b49b2f212e5
        name:
          type: string
          example: My t-shirt
        slug:
          type: string
          example: my-t-shirt
        description:
          type: string
          example: My t-shirt description
        state:
          oneOf:
            - $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferStateV1$Available
            - $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferStateV1$SoldOut
        access:
          oneOf:
            - $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferAccessV1$Archived
            - $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferAccessV1$Hidden
            - $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferAccessV1$Public
        images:
          type: array
          items:
            $ref: "#/components/schemas/com.fourthwall.openapi.model.Image"
        variants:
          type: array
          items:
            $ref: >-
              #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$OfferVariantV1
        createdAt:
          type: string
          format: date-time
          example: "2020-08-13T09:05:36.939Z"
        updatedAt:
          type: string
          format: date-time
          example: "2020-08-13T09:05:36.939Z"
      required:
        - access
        - createdAt
        - description
        - id
        - images
        - name
        - slug
        - state
        - updatedAt
        - variants
    com.fourthwall.openapi.model.OfferAbstractV1$OfferStateV1:
      type: object
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
      required:
        - type
    com.fourthwall.openapi.model.OfferAbstractV1$OfferStateV1$Available:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferStateV1
    com.fourthwall.openapi.model.OfferAbstractV1$OfferStateV1$SoldOut:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferStateV1
    com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$Attributes:
      type: object
      properties:
        description:
          type: string
          example: Black, L
        color:
          $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$Attributes$Color
        size:
          $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$Attributes$Size
      required:
        - description
    com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$Attributes$Color:
      type: object
      properties:
        name:
          type: string
          example: Black
        swatch:
          type: string
          example: "#000000"
      required:
        - name
        - swatch
    com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$Attributes$Size:
      type: object
      properties:
        name:
          type: string
          example: L
      required:
        - name
    com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$Dimensions:
      type: object
      properties:
        length:
          type: number
          example: 1
        width:
          type: number
          example: 2
        height:
          type: number
          example: 3
        unit:
          type: string
          example: cm
      required:
        - height
        - length
        - unit
        - width
    com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$OfferVariantV1:
      type: object
      properties:
        id:
          type: string
          example: 00aa4abd-5778-4199-8161-0b49b2f212e5
        name:
          type: string
          example: My t-shirt - Black, L
        sku:
          type: string
          example: WDEK-DRE200L
        unitPrice:
          $ref: "#/components/schemas/Money"
        attributes:
          $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$Attributes
        stock:
          oneOf:
            - $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$Stock$Limited
            - $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$Stock$Unlimited
        weight:
          $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$Weight
        dimensions:
          $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$Dimensions
        images:
          type: array
          items:
            $ref: "#/components/schemas/com.fourthwall.openapi.model.Image"
      required:
        - attributes
        - dimensions
        - id
        - images
        - name
        - sku
        - stock
        - unitPrice
        - weight
    com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$Stock:
      type: object
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
      required:
        - type
    com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$Stock$Limited:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$Stock
        - type: object
          properties:
            inStock:
              type: integer
              format: int32
              example: 5
      required:
        - inStock
    com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$Stock$Unlimited:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$Stock
    com.fourthwall.openapi.model.OfferAbstractV1$OfferVariantAbstractV1$Weight:
      type: object
      properties:
        value:
          type: number
          example: 1
        unit:
          type: string
          example: kg
      required:
        - unit
        - value
    com.fourthwall.app.openapi.DrawFinishedRequest:
      type: object
      properties:
        participants:
          type: array
          items:
            oneOf:
              - $ref: >-
                  #/components/schemas/com.fourthwall.app.openapi.DrawFinishedRequest$Participant$Twitch
      required:
        - participants
    com.fourthwall.app.openapi.DrawFinishedRequest$Participant:
      type: object
      discriminator:
        propertyName: service
      properties:
        service:
          type: string
      required:
        - service
    com.fourthwall.app.openapi.DrawFinishedRequest$Participant$Twitch:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.app.openapi.DrawFinishedRequest$Participant
        - type: object
          properties:
            userId:
              type: string
            userName:
              type: string
      required:
        - userId
        - userName
    com.fourthwall.openapi.model.GiftDraftV1:
      type: object
      properties:
        id:
          type: string
          example: gdr_EdJvIXu3SEiXe_QkPavHSA
        type:
          type: string
          enum:
            - INITIAL
            - REDO
        giveawayId:
          type: string
          example: giv_EdJvIXu3SEiXe_QkPavHSA
        giveawayFriendlyId:
          type: string
          example: D3XZFWPP
        shopId:
          type: string
          example: sh_c689d374-22ca-43d3-8d29-9ef0805cc4cb
        offer:
          $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.OfferAbstractV1$OfferGiftPurchaseV1
        amounts:
          $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.GiftDraftV1$Amounts
        email:
          type: string
          example: supporter@fourthwall.com
        username:
          type: string
          example: Johnny123
        message:
          type: string
          example: Sample message
        gifts:
          type: array
          items:
            oneOf:
              - $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.GiftDraftV1$Gift$Available
              - $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.GiftDraftV1$Gift$Cancelled
              - $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.GiftDraftV1$Gift$ChangedToPromotion
              - $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.GiftDraftV1$Gift$Redeemed
        createdAt:
          type: string
          format: date-time
        durationSeconds:
          type: integer
          format: int64
      required:
        - amounts
        - createdAt
        - durationSeconds
        - email
        - gifts
        - giveawayFriendlyId
        - giveawayId
        - id
        - offer
        - shopId
        - type
    com.fourthwall.openapi.model.GiftDraftV1$Amounts:
      type: object
      properties:
        subtotal:
          $ref: "#/components/schemas/Money"
        total:
          $ref: "#/components/schemas/Money"
      required:
        - subtotal
        - total
    com.fourthwall.openapi.model.GiftDraftV1$Gift:
      type: object
      discriminator:
        propertyName: status
      properties:
        id:
          type: string
        status:
          type: string
      required:
        - id
        - status
    com.fourthwall.openapi.model.GiftDraftV1$Gift$Available:
      allOf:
        - $ref: "#/components/schemas/com.fourthwall.openapi.model.GiftDraftV1$Gift"
        - type: object
          properties:
            id:
              type: string
              example: gft_EdJvIXu3SEiXe_QkPavHSA
            winner:
              $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.GiftDraftV1$Winner
      required:
        - id
    com.fourthwall.openapi.model.GiftDraftV1$Gift$Cancelled:
      allOf:
        - $ref: "#/components/schemas/com.fourthwall.openapi.model.GiftDraftV1$Gift"
        - type: object
          properties:
            id:
              type: string
              example: gft_EdJvIXu3SEiXe_QkPavHSA
            winner:
              $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.GiftDraftV1$Winner
      required:
        - id
    com.fourthwall.openapi.model.GiftDraftV1$Gift$ChangedToPromotion:
      allOf:
        - $ref: "#/components/schemas/com.fourthwall.openapi.model.GiftDraftV1$Gift"
        - type: object
          properties:
            id:
              type: string
              example: gft_EdJvIXu3SEiXe_QkPavHSA
            promotionId:
              type: string
              example: prm_EdJvIXu3SEiXe_QkPavHSA
            winner:
              $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.GiftDraftV1$Winner
      required:
        - id
        - promotionId
        - winner
    com.fourthwall.openapi.model.GiftDraftV1$Gift$Redeemed:
      allOf:
        - $ref: "#/components/schemas/com.fourthwall.openapi.model.GiftDraftV1$Gift"
        - type: object
          properties:
            id:
              type: string
              example: gft_EdJvIXu3SEiXe_QkPavHSA
            orderId:
              type: string
              example: 00aa4abd-5778-4199-8161-0b49b2f212e5
            orderFriendlyId:
              type: string
              example: D3XZFWPP
            winner:
              $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.GiftDraftV1$Winner
      required:
        - id
        - orderFriendlyId
        - orderId
        - winner
    com.fourthwall.openapi.model.GiftDraftV1$Winner:
      type: object
      properties:
        email:
          type: string
          example: supporter@fourthwall.com
        username:
          type: string
          example: Johnny123
        selectedAt:
          type: string
          format: date-time
          example: "2020-08-13T09:05:36.939Z"
        redeemUri:
          type: string
      required:
        - redeemUri
        - selectedAt
    com.fourthwall.openapi.model.OfferAbstractV1$OfferGiftPurchaseV1:
      type: object
      properties:
        id:
          type: string
          example: 00aa4abd-5778-4199-8161-0b49b2f212e5
        name:
          type: string
          example: My t-shirt
        slug:
          type: string
          example: my-t-shirt
        description:
          type: string
          example: My t-shirt description
        primaryImage:
          $ref: "#/components/schemas/com.fourthwall.openapi.model.Image"
      required:
        - description
        - id
        - name
        - slug
    com.fourthwall.app.openapi.OpenApiWebhookConfigurationEndpoint$WebhookConfigurationCreateRequest:
      type: object
      properties:
        url:
          type: string
        allowedTypes:
          type: array
          items:
            type: string
            enum:
              - ORDER_PLACED
              - ORDER_UPDATED
              - GIFT_PURCHASE
              - PRODUCT_CREATED
              - PRODUCT_UPDATED
              - DONATION
              - SUBSCRIPTION_PURCHASED
              - SUBSCRIPTION_EXPIRED
              - SUBSCRIPTION_CHANGED
              - NEWSLETTER_SUBSCRIBED
              - THANK_YOU_SENT
              - GIFT_DRAW_STARTED
              - GIFT_DRAW_ENDED
              - PROMOTION_CREATED
              - PROMOTION_UPDATED
              - PROMOTION_STATUS_CHANGED
      required:
        - allowedTypes
        - url
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest:
      type: object
      discriminator:
        propertyName: type
        mapping:
          SHOP_SINGLE: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest$Shop$Single
          SHOP_MULTI: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest$Shop$Multi
          MEMBERSHIPS_SINGLE: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest$Memberships$Single
          MEMBERSHIPS_MULTI: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest$Memberships$Multi
      properties:
        type:
          type: string
      required:
        - type
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest$Memberships:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest$Memberships$Multi:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest
        - type: object
          properties:
            codes:
              type: array
              items:
                type: string
            discount:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionDiscountType$Memberships$Percentage
            requirements:
              $ref: >-
                #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionRequirements$Memberships
            subscriptionType:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipSubscriptionTypeAppliesTo$AllMembers
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipSubscriptionTypeAppliesTo$AnnualMembersOnly
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipSubscriptionTypeAppliesTo$MonthlyMembersOnly
            tiers:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipTiersAppliesTo$AllTiers
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipTiersAppliesTo$SelectedTiers
      required:
        - codes
        - discount
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest$Memberships$Single:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest
        - type: object
          properties:
            code:
              type: string
            discount:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionDiscountType$Memberships$Percentage
            requirements:
              $ref: >-
                #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionRequirements$Memberships
            subscriptionType:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipSubscriptionTypeAppliesTo$AllMembers
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipSubscriptionTypeAppliesTo$AnnualMembersOnly
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipSubscriptionTypeAppliesTo$MonthlyMembersOnly
            tiers:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipTiersAppliesTo$AllTiers
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipTiersAppliesTo$SelectedTiers
      required:
        - code
        - discount
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest$Shop:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest$Shop$Multi:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest
        - type: object
          properties:
            codes:
              type: array
              items:
                type: string
            discount:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionDiscountType$Shop$FixedAmount
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionDiscountType$Shop$Percentage
            requirements:
              $ref: >-
                #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionRequirements$Shop
            appliesToProducts:
              $ref: >-
                #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionSelectedProducts
            limits:
              $ref: >-
                #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionLimits
      required:
        - codes
        - discount
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest$Shop$Single:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiCreatePromotionRequest
        - type: object
          properties:
            code:
              type: string
            discount:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionDiscountType$Shop$FixedAmount
                - $ref: >-
                    #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionDiscountType$Shop$Percentage
            requirements:
              $ref: >-
                #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionRequirements$Shop
            appliesToProducts:
              $ref: >-
                #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionSelectedProducts
            limits:
              $ref: >-
                #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionLimits
      required:
        - code
        - discount
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionDiscountType$Memberships:
      type: object
      discriminator:
        propertyName: type
        mapping:
          PERCENTAGE: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionDiscountType$Memberships$Percentage
      properties:
        type:
          type: string
      required:
        - type
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionDiscountType$Memberships$Percentage:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionDiscountType$Memberships
        - type: object
          properties:
            percentage:
              type: number
      required:
        - percentage
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionDiscountType$Shop:
      type: object
      discriminator:
        propertyName: type
        mapping:
          PERCENTAGE: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionDiscountType$Shop$Percentage
          FLAT_RATE: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionDiscountType$Shop$FixedAmount
      properties:
        type:
          type: string
      required:
        - type
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionDiscountType$Shop$FixedAmount:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionDiscountType$Shop
        - type: object
          properties:
            money:
              $ref: "#/components/schemas/Money"
            freeShipping:
              type: boolean
      required:
        - freeShipping
        - money
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionDiscountType$Shop$Percentage:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionDiscountType$Shop
        - type: object
          properties:
            percentage:
              type: number
            shipping:
              type: string
              enum:
                - Excluded
                - Included
                - Free
      required:
        - percentage
        - shipping
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionLimits:
      type: object
      properties:
        maximumUse:
          type: integer
          format: int32
        oneUsePerCustomer:
          type: boolean
      required:
        - oneUsePerCustomer
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipSubscriptionTypeAppliesTo:
      type: object
      discriminator:
        propertyName: type
        mapping:
          ALL: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipSubscriptionTypeAppliesTo$AllMembers
          MONTHLY: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipSubscriptionTypeAppliesTo$MonthlyMembersOnly
          ANNUAL: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipSubscriptionTypeAppliesTo$AnnualMembersOnly
      properties:
        type:
          type: string
      required:
        - type
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipSubscriptionTypeAppliesTo$AllMembers:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipSubscriptionTypeAppliesTo
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipSubscriptionTypeAppliesTo$AnnualMembersOnly:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipSubscriptionTypeAppliesTo
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipSubscriptionTypeAppliesTo$MonthlyMembersOnly:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipSubscriptionTypeAppliesTo
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipTiersAppliesTo:
      type: object
      discriminator:
        propertyName: type
        mapping:
          ALL: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipTiersAppliesTo$AllTiers
          SELECTED: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipTiersAppliesTo$SelectedTiers
      properties:
        type:
          type: string
      required:
        - type
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipTiersAppliesTo$AllTiers:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipTiersAppliesTo
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipTiersAppliesTo$SelectedTiers:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionMembershipTiersAppliesTo
        - type: object
          properties:
            ids:
              type: array
              items:
                type: string
      required:
        - ids
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionRequirements$Memberships:
      type: object
      properties:
        newMembersOnly:
          type: boolean
      required:
        - newMembersOnly
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionRequirements$Shop:
      type: object
      properties:
        minimumOrderValue:
          $ref: "#/components/schemas/Money"
    com.fourthwall.app.openapi.model.requests.promotions.OpenApiPromotionSelectedProducts:
      type: object
      properties:
        productIds:
          type: array
          items:
            type: string
            format: uuid
        oncePerOrder:
          type: boolean
      required:
        - productIds
    com.fourthwall.openapi.model.promotions.AutoApplyingShopPromotionV1:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionV1
        - type: object
          properties:
            id:
              type: string
            title:
              type: string
            code:
              type: string
            discount:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$FixedAmount
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$FreeProducts
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$FreeShipping
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$Percentage
            status:
              type: string
              enum:
                - Live
                - Ended
                - Archived
                - AllUsed
            requirements:
              $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionRequirementsV1$Shop
            usageCount:
              type: integer
              format: int32
            limits:
              $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionLimitsV1
            appliesTo:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopAppliesToV1$EntireOrder
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopAppliesToV1$SelectedProducts
            type:
              type: string
      required:
        - appliesTo
        - code
        - discount
        - id
        - limits
        - requirements
        - status
        - title
        - type
        - usageCount
    com.fourthwall.openapi.model.promotions.MultiMembershipsPromotionV1:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionV1
        - type: object
          properties:
            id:
              type: string
            title:
              type: string
            codes:
              type: array
              items:
                $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.promotions.MultiPromoSubCodeV1
            discount:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsDiscountTypeV1$Percentage
            status:
              type: string
              enum:
                - Live
                - Ended
                - Archived
                - AllUsed
            requirements:
              $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionRequirementsV1$Memberships
            usageCount:
              type: integer
              format: int32
            subscriptionType:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsSubscriptionTypeAppliesToV1$AllMembers
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsSubscriptionTypeAppliesToV1$AnnualMembersOnly
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsSubscriptionTypeAppliesToV1$MonthlyMembersOnly
            tiers:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsTiersAppliesToV1$AllTiers
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsTiersAppliesToV1$SelectedTiers
            type:
              type: string
      required:
        - codes
        - discount
        - id
        - requirements
        - status
        - subscriptionType
        - tiers
        - title
        - type
        - usageCount
    com.fourthwall.openapi.model.promotions.MultiPromoSubCodeV1:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        usageCount:
          type: integer
          format: int32
        status:
          type: string
          enum:
            - Live
            - Ended
            - Archived
            - AllUsed
      required:
        - code
        - id
        - status
        - usageCount
    com.fourthwall.openapi.model.promotions.MultiShopPromotionV1:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionV1
        - type: object
          properties:
            id:
              type: string
            title:
              type: string
            codes:
              type: array
              items:
                $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.promotions.MultiPromoSubCodeV1
            discount:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$FixedAmount
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$FreeProducts
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$FreeShipping
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$Percentage
            status:
              type: string
              enum:
                - Live
                - Ended
                - Archived
                - AllUsed
            requirements:
              $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionRequirementsV1$Shop
            limits:
              $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionLimitsV1
            usageCount:
              type: integer
              format: int32
            appliesTo:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopAppliesToV1$EntireOrder
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopAppliesToV1$SelectedProducts
            type:
              type: string
      required:
        - appliesTo
        - codes
        - discount
        - id
        - limits
        - requirements
        - status
        - title
        - type
        - usageCount
    com.fourthwall.openapi.model.promotions.PromotionLimitsV1:
      type: object
      properties:
        maximumUsesNumber:
          type: integer
          format: int32
        oneUsePerCustomer:
          type: boolean
    com.fourthwall.openapi.model.promotions.PromotionMembershipsDiscountTypeV1:
      type: object
      discriminator:
        propertyName: type
        mapping:
          MEMBERSHIPS_PERCENTAGE: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsDiscountTypeV1$Percentage
      properties:
        type:
          type: string
      required:
        - type
    com.fourthwall.openapi.model.promotions.PromotionMembershipsDiscountTypeV1$Percentage:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsDiscountTypeV1
        - type: object
          properties:
            percentage:
              type: number
      required:
        - percentage
    com.fourthwall.openapi.model.promotions.PromotionMembershipsSubscriptionTypeAppliesToV1:
      type: object
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
      required:
        - type
    com.fourthwall.openapi.model.promotions.PromotionMembershipsSubscriptionTypeAppliesToV1$AllMembers:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsSubscriptionTypeAppliesToV1
    com.fourthwall.openapi.model.promotions.PromotionMembershipsSubscriptionTypeAppliesToV1$AnnualMembersOnly:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsSubscriptionTypeAppliesToV1
    com.fourthwall.openapi.model.promotions.PromotionMembershipsSubscriptionTypeAppliesToV1$MonthlyMembersOnly:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsSubscriptionTypeAppliesToV1
    com.fourthwall.openapi.model.promotions.PromotionMembershipsTiersAppliesToV1:
      type: object
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
      required:
        - type
    com.fourthwall.openapi.model.promotions.PromotionMembershipsTiersAppliesToV1$AllTiers:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsTiersAppliesToV1
    com.fourthwall.openapi.model.promotions.PromotionMembershipsTiersAppliesToV1$SelectedTiers:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsTiersAppliesToV1
        - type: object
          properties:
            tiersIds:
              type: array
              items:
                type: string
      required:
        - tiersIds
    com.fourthwall.openapi.model.promotions.PromotionRequirementsV1$Memberships:
      type: object
      properties:
        newMembersOnly:
          type: boolean
      required:
        - newMembersOnly
    com.fourthwall.openapi.model.promotions.PromotionRequirementsV1$Shop:
      type: object
      properties:
        minimumOrderValue:
          $ref: "#/components/schemas/Money"
    com.fourthwall.openapi.model.promotions.PromotionShopAppliesToV1:
      type: object
      discriminator:
        propertyName: type
        mapping:
          ENTIRE_ORDER: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopAppliesToV1$EntireOrder
          SELECTED_PRODUCTS: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopAppliesToV1$SelectedProducts
      properties:
        type:
          type: string
      required:
        - type
    com.fourthwall.openapi.model.promotions.PromotionShopAppliesToV1$EntireOrder:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopAppliesToV1
    com.fourthwall.openapi.model.promotions.PromotionShopAppliesToV1$SelectedProducts:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopAppliesToV1
        - type: object
          properties:
            products:
              type: array
              items:
                type: string
                format: uuid
            oncePerOrder:
              type: boolean
      required:
        - oncePerOrder
        - products
    com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1:
      type: object
      discriminator:
        propertyName: type
        mapping:
          PERCENTAGE: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$Percentage
          FLAT_RATE: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$FixedAmount
          FREE_SHIPPING: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$FreeShipping
          FREE_PRODUCTS: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$FreeProducts
      properties:
        type:
          type: string
      required:
        - type
    com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$FixedAmount:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1
        - type: object
          properties:
            money:
              $ref: "#/components/schemas/Money"
            freeShipping:
              type: boolean
      required:
        - freeShipping
        - money
    com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$FreeProducts:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1
        - type: object
          properties:
            freeProducts:
              type: array
              items:
                $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$FreeProducts$FreeProduct
            freeShipping:
              type: boolean
      required:
        - freeProducts
        - freeShipping
    com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$FreeProducts$FreeProduct:
      type: object
      properties:
        offerId:
          type: string
        quantity:
          type: integer
          format: int32
      required:
        - offerId
        - quantity
    com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$FreeShipping:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1
    com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$Percentage:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1
        - type: object
          properties:
            percentage:
              type: number
            shippingOption:
              type: string
              enum:
                - Included
                - Excluded
                - Free
      required:
        - percentage
    com.fourthwall.openapi.model.promotions.PromotionV1:
      type: object
      discriminator:
        propertyName: type
        mapping:
          SHOP_SINGLE: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.SingleShopPromotionV1
          SHOP_MULTI: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.MultiShopPromotionV1
          SHOP_AUTO_APPLYING: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.AutoApplyingShopPromotionV1
          MEMBERSHIPS_SINGLE: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.SingleMembershipsPromotionV1
          MEMBERSHIPS_MULTI: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.MultiMembershipsPromotionV1
      properties:
        type:
          type: string
      required:
        - type
    com.fourthwall.openapi.model.promotions.SingleMembershipsPromotionV1:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionV1
        - type: object
          properties:
            id:
              type: string
            code:
              type: string
            discount:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsDiscountTypeV1$Percentage
            status:
              type: string
              enum:
                - Live
                - Ended
                - Archived
                - AllUsed
            requirements:
              $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionRequirementsV1$Memberships
            usageCount:
              type: integer
              format: int32
            subscriptionType:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsSubscriptionTypeAppliesToV1$AllMembers
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsSubscriptionTypeAppliesToV1$AnnualMembersOnly
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsSubscriptionTypeAppliesToV1$MonthlyMembersOnly
            tiers:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsTiersAppliesToV1$AllTiers
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionMembershipsTiersAppliesToV1$SelectedTiers
            type:
              type: string
      required:
        - code
        - discount
        - id
        - requirements
        - status
        - subscriptionType
        - tiers
        - type
        - usageCount
    com.fourthwall.openapi.model.promotions.SingleShopPromotionV1:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionV1
        - type: object
          properties:
            id:
              type: string
            code:
              type: string
            discount:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$FixedAmount
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$FreeProducts
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$FreeShipping
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopDiscountTypeV1$Percentage
            status:
              type: string
              enum:
                - Live
                - Ended
                - Archived
                - AllUsed
            requirements:
              $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionRequirementsV1$Shop
            usageCount:
              type: integer
              format: int32
            limits:
              $ref: >-
                #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionLimitsV1
            appliesTo:
              oneOf:
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopAppliesToV1$EntireOrder
                - $ref: >-
                    #/components/schemas/com.fourthwall.openapi.model.promotions.PromotionShopAppliesToV1$SelectedProducts
            type:
              type: string
      required:
        - appliesTo
        - code
        - discount
        - id
        - limits
        - requirements
        - status
        - type
        - usageCount
    com.fourthwall.app.openapi.CreateGiveawayLinksV1Request:
      type: object
      properties:
        productId:
          type: string
          format: uuid
        number:
          type: integer
          format: int32
      required:
        - number
        - productId
    com.fourthwall.openapi.model.GiveawayLinksV1:
      type: object
      properties:
        packageId:
          type: string
          example: gpg_EdJvIXu3SEiXe_QkPavHSA
        giveawayLinks:
          type: array
          items:
            oneOf:
              - $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.GiveawayLinksV1$GiveawayLinkV1$Available
              - $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.GiveawayLinksV1$GiveawayLinkV1$Cancelled
              - $ref: >-
                  #/components/schemas/com.fourthwall.openapi.model.GiveawayLinksV1$GiveawayLinkV1$Redeemed
      required:
        - giveawayLinks
        - packageId
    com.fourthwall.openapi.model.GiveawayLinksV1$GiveawayLinkV1:
      type: object
      discriminator:
        propertyName: status
      properties:
        status:
          type: string
      required:
        - status
    com.fourthwall.openapi.model.GiveawayLinksV1$GiveawayLinkV1$Available:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.GiveawayLinksV1$GiveawayLinkV1
        - type: object
          properties:
            id:
              type: string
              example: gft_EdJvIXu3SEiXe_QkPavHSA
            link:
              type: string
              example: https://fourthwall.com/gifts/gft_EdJvIXu3SEiXe_QkPavHSA
            productId:
              type: string
              example: 00aa4abd-5778-4199-8161-0b49b2f212e5
            createdAt:
              type: string
              format: date-time
              example: "2020-08-13T09:05:36.939Z"
      required:
        - createdAt
        - id
        - link
        - productId
    com.fourthwall.openapi.model.GiveawayLinksV1$GiveawayLinkV1$Cancelled:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.GiveawayLinksV1$GiveawayLinkV1
        - type: object
          properties:
            id:
              type: string
              example: gft_EdJvIXu3SEiXe_QkPavHSA
            link:
              type: string
              example: https://fourthwall.com/gifts/gft_EdJvIXu3SEiXe_QkPavHSA
            productId:
              type: string
              example: 00aa4abd-5778-4199-8161-0b49b2f212e5
            createdAt:
              type: string
              format: date-time
              example: "2020-08-13T09:05:36.939Z"
            cancelledAt:
              type: string
              format: date-time
              example: "2020-08-13T09:05:36.939Z"
      required:
        - cancelledAt
        - createdAt
        - id
        - link
        - productId
    com.fourthwall.openapi.model.GiveawayLinksV1$GiveawayLinkV1$Redeemed:
      allOf:
        - $ref: >-
            #/components/schemas/com.fourthwall.openapi.model.GiveawayLinksV1$GiveawayLinkV1
        - type: object
          properties:
            id:
              type: string
              example: gft_EdJvIXu3SEiXe_QkPavHSA
            link:
              type: string
              example: https://fourthwall.com/gifts/gft_EdJvIXu3SEiXe_QkPavHSA
            productId:
              type: string
              example: 00aa4abd-5778-4199-8161-0b49b2f212e5
            createdAt:
              type: string
              format: date-time
              example: "2020-08-13T09:05:36.939Z"
            redeemedAt:
              type: string
              format: date-time
              example: "2020-08-13T09:05:36.939Z"
      required:
        - createdAt
        - id
        - link
        - productId
        - redeemedAt
    com.fourthwall.app.openapi.FulfillmentItem:
      type: object
      properties:
        variantId:
          type: string
          format: uuid
        quantity:
          type: integer
          format: int32
          minimum: 1
      required:
        - quantity
        - variantId
    com.fourthwall.app.openapi.FulfillmentRequest:
      type: object
      properties:
        orderId:
          type: string
          format: uuid
        items:
          type: array
          items:
            $ref: "#/components/schemas/com.fourthwall.app.openapi.FulfillmentItem"
        shippingLabel:
          $ref: "#/components/schemas/com.fourthwall.app.openapi.ShippingLabel"
      required:
        - items
        - orderId
        - shippingLabel
    com.fourthwall.app.openapi.ShippingLabel:
      type: object
      properties:
        trackingNumber:
          type: string
        trackingCompany:
          type: string
          example: USPS
          examples:
            - DHL
            - UPS
            - USPS
            - Canada Post
      required:
        - trackingCompany
        - trackingNumber
    com.fourthwall.app.openapi.FulfillmentResponse:
      type: object
      properties:
        fulfillmentId:
          type: string
      required:
        - fulfillmentId
    com.fourthwall.fulfillment.model.FulfillmentShippingLabel:
      type: object
      properties:
        trackingCompany:
          type: string
        trackingService:
          type: string
        trackingNumber:
          type: string
        labelUrl:
          type: string
        items:
          type: array
          items:
            $ref: >-
              #/components/schemas/com.fourthwall.fulfillment.model.FulfillmentShippingLabelItem
      required:
        - items
        - trackingCompany
    com.fourthwall.fulfillment.model.FulfillmentShippingLabelItem:
      type: object
      properties:
        offerVariantId:
          type: string
          format: uuid
        quantity:
          type: integer
          format: int32
          minimum: 1
      required:
        - offerVariantId
        - quantity
    com.fourthwall.fulfillment.model.Fulfillment:
      type: object
      properties:
        id:
          type: string
        shopId:
          type: string
        orderId:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - OPEN
            - ACCEPTED
            - IN_PRODUCTION
            - ON_HOLD
            - PACKAGED
            - CANCELLED
        fulfillmentService:
          type: string
          enum:
            - FULFILLED_BY_CREATOR
            - FULFILLED_BY_FOURTHWALL
            - FULFILLED_BY_MANUFACTURER
            - WLM
            - CTC
            - WLM_3PL
            - PRINTFUL
            - SPOKE
            - GNARLYWOOD
            - DIGITAL_ITEM
            - WHIPLASH_3PL
            - WHIPLASH_FREE
            - COSMOPOLITAN
            - BOLT_STITCH
            - SUPER_CULTURE
            - SEVENTY_EIGHT_STRANGE
            - MOGUL_MERCH_LOCAL
            - MOGUL_MERCH_SHIP_BOB
            - RVLT_SHIP_HERO
            - OFFLINE_TV_SHIPSTATION
            - HOMEMADE_MERCH
            - DUBOW
            - DUBOW_ORDER_DESK
            - TRIBE
            - OPTIGER
            - OVERCAST
            - MWW
            - P3
            - P3_ORDER_DESK
            - CHIVA_TOYS
            - USOURCED
            - KNITWISE
            - SHIP_MONK
            - DOD
        items:
          type: array
          items:
            $ref: >-
              #/components/schemas/com.fourthwall.fulfillment.model.FulfillmentItem
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        shippingLabels:
          type: array
          items:
            $ref: >-
              #/components/schemas/com.fourthwall.fulfillment.model.FulfillmentShippingLabel
        orderShipmentId:
          type: string
        fulfillmentServiceShopConfigId:
          type: integer
          format: int32
      required:
        - createdAt
        - fulfillmentService
        - id
        - items
        - orderId
        - shippingLabels
        - shopId
        - status
        - updatedAt
    com.fourthwall.fulfillment.model.FulfillmentItem:
      type: object
      properties:
        variantId:
          type: string
          format: uuid
        quantity:
          type: integer
          format: int32
          minimum: 1
      required:
        - quantity
        - variantId
    com.fourthwall.app.openapi.OpenApiFulfillmentEndpoint$FindFulfillmentIdsByFriendlyIdAndFulfillmentServiceRequest:
      type: object
      properties:
[...]
