@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "swiper/css";
@import "swiper/css/navigation";

body {
    font-family: "Arial", sans-serif;

}

/* default “light” background when mode = auto */
.bg-auto {
    background-color: var(--color-light-background);
}

/* if the user’s system prefers dark, swap it */
@media (prefers-color-scheme: dark) {
    .bg-auto {
        background-color: var(--color-dark-background);
    }
}


